mixin asana(indexes, asanas)
    each index in indexes
        .asana
            img(src="#{asanas[index].link}", alt="#{asanas[index].rusName}").asana__img
            .asana__wrapper
                .asana__subHeader= asanas[index].rusName
                .asana__header= asanas[index].name
                .asana__text-wrapper
                    p.asana__text= asanas[index].descr